<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<!--<p th:text="${test}"></p>-->
<h1>Coronavirus Tracker Application</h1>
<p>This application lists the active COVID-19 cases reported across the world.</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}">Hello, world!</h1>
    <p class="lead">Total cases reported today</p>
</div>

<div class="container">
    <table>
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total Cases Reported</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
        </tr>
    </table>
</div>


</body>

</html>